* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 62.5%; }

body {
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: 'Commissioner', sans-serif; }
  body .fw-300 {
    font-weight: 300; }
  body .fw-400 {
    font-weight: 400; }
  body .fw-500 {
    font-weight: 500; }
  body .fw-600 {
    font-weight: 600; }
  body .fw-700 {
    font-weight: 700; }

.app-component {
  max-width: 144rem;
  margin: 0rem auto; }
  @media only screen and (max-width: 50em) {
    .app-component {
      max-width: 70rem; } }
